/* Header */
header {
    background-color: var(--black);
    color: #FBF9F1;
    padding: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: fit-content;
}

header.scrolled {
    background-color: rgba(0, 0, 0, .9);
    box-shadow: 0 0 10px rgba(11, 44, 34, 0.8), 0 0 90px rgba(11, 44, 34, 0.5); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

/* ------ Menu */
.menu {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 20px;
    animation:  3s ease-in-out;   
    animation-duration: 3s;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.menu a {
    color: #FBF9F1;
    text-decoration: none;
    font-size: 0.9em;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: #191919;
    background-color: #FBF9F1;
    padding: 10px 15px;
    border-radius: 5px;
}

.menu a.active {
    color: #191919;
    background-color: #FBF9F1;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
}

/* --------- end of menu */

/* end of header */



@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .burger-menu {
        display: block;
        margin-right: 30px;
    }

}