:root {
    --primary: rgb(11, 44, 34);
    --secondary: #rgb(53, 192, 234);
    --black: #000;
    --white: #fff;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    background-color: #191919;
    color: #FBF9F1;
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', sans-serif;
}

li {
    list-style: none;
}

a {
    color: #FBF9F1;
    text-decoration: none;
}



/* Main */
main {
    text-align: justify;
    text-justify: inter-word;
}

article {
    margin-bottom: 50px;
}




/* MEDIA QUERY */
@media (max-width: 768px) {

}

